/*
 Theme Name:   Krohn-Leitmannstetter Theme (NEW)
 Theme URI:    http://www.petersterr.de/krohn-leitmannstetter-theme/
 Description:  The theme for the Krohn-Leitmannstetter public website
 Author:       Peter Sterr
 Author URI:   http://www.petersterr.de
 Template:     twentytwelve
 Version:      2.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags: light, gray, white, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
 Text Domain:  krohn-leitmannstetter
*/

/* =Repeatable patterns
-------------------------------------------------------------- */

/* Small headers */
.archive-title,
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
    font-size: 18px;
    font-size: 1.286rem;
    font-weight: normal;
    line-height: 2.181818182;
    text-transform: uppercase;
    color: #636363;
    border-bottom: 0px;
}

/* Buttons */
.menu-toggle {
    padding: 14px 10px;
    padding: 1.0rem 0.714285714rem;
    font-size: 18px;
    font-size: 1.286rem;
    line-height: 1.428571429;
    font-weight: normal;
    color: #7c7c7c;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: none;
    border: 0px solid #d2d2d2;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
    margin: 15px 0;
    width: 100%;
    text-transform: uppercase;
}
.menu-toggle {
    cursor: pointer;
}

.menu-toggle:hover,
.menu-toggle:focus {
    color: #5e5e5e;
    background-color: #ebebeb;
    background-repeat: no-repeat;
    background-image: none;
}
.menu-toggle:active,
.menu-toggle.toggled-on {
    color: #000000;
    background-color: #F8CB6F;
    background-repeat: no-repeat;
    background-image: none;
    box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
    border-color: transparent;
}

/* =Basic structure
-------------------------------------------------------------- */

/* Body, links, basics */
body.custom-font-enabled {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

a {
    outline: none;
    color: #21759b;
    text-decoration: none;
}
a:hover {
    color: #0f3647;
}

/* Page structure*/
.site-content {
    margin: 0;
}

/* Footer */
footer[role="contentinfo"] {
    border-top: 0px;
    margin-top: 0px;
}
.bottomMenu {
    display: block;
    padding: 5px 0 24px 0;
    border-top: 1px solid #F8CB6F;
}
.bottomMenu ul {
    display:inline;
    float:right;
}
.bottomMenu li {
    list-style-type: none;
    display: inline;
    font-size: 18px;
    font-size: 1.286rem;
}
.bottomMenu li a {
    line-height:15px;
    text-decoration:none;
    font-weight:normal;
    padding: 0 7px 0 3px;
}
.bottomMenu li a:hover {
    color:#000;
}

/* Header */
.site-header {
    padding: 24px 0 0 0;
    padding: 1.714285714rem 0 0 0;
}

.site-header .logo {
    width: 100px;
    height: 100px;
    float:left;
}

.site-title {
    font-weight:normal;
    margin: 35px 0 0 15px;
}

.site-title a:hover {
    color: #000000!important;
}

.menu-socialmenu-container {
    float: right;
    padding-top: 18px;
}

.menu-socialmenu-container ul li a {
    color: #3B5998;
}

.main-navigation li {
    font-size: 18px;
    font-size: 1.286rem;
}

/* =Main content and comment content
-------------------------------------------------------------- */
.entry-content a:visited,
.comment-content a:visited {
    color: #21759b;
}

.site-content article {
    border-bottom: 0px;
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
}

.single .site-content article {
    border-bottom: 1px solid #ededed;
    margin-top: 30px;
    margin-top: 2.143rem;
    margin-bottom: 0;
    word-wrap: normal;
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
}

.blog .site-content article {
    border-bottom: 1px solid #ededed;
    margin-top: 30px;
    margin-top: 2.143rem;
    margin-bottom: 0;
    word-wrap: normal;
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
}

.archive .site-content article {
    border-bottom: 1px solid #ededed;
    margin-top: 30px;
    margin-top: 2.143rem;
    margin-bottom: 0;
    word-wrap: normal;
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
}

.entry-content h1 {
    font-size: 24px;
    font-size: 1.714em;
}

.entry-content h2 {
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
    font-size: 22px;
    font-size: 1.571em;
}

.entry-content h3 {
    font-size: 18px;
    font-size: 1.286em;
}

.entry-content h4 {
    font-size: 16px;
    font-size: 1.143em;
    color: #6a6a6a;
}

.entry-content h5 {
    font-size: 16px;
    font-size: 1.143em;
    background: #FEF8E6;
    padding: 20px 20px;
    font-weight: normal;
}

.entry-content h6 {
    font-size: 14px;
    font-size: 1em;
    background: #d8eaf8;
    padding: 20px 20px;
    font-weight: normal;
    border-radius: 5px;
}

.entry-content blockquote {
    font-size: 16px;
    font-size: 1.143em;
    font-style: italic;
    margin-bottom: 0;
    padding-top: 0;
}

img.alignleft,
.wp-caption.alignleft {
    margin: 5px 24px 12px 0;
    margin: 0.357rem 1.714285714rem 0.857142857rem 0;
}
img.alignright,
.wp-caption.alignright {
    margin: 5px 0 12px 24px;
    margin: 0.357rem 0 0.857142857rem 1.714285714rem;
}
img.aligncenter,
.wp-caption.aligncenter {
    clear: both;
    margin-top: 5px;
    margin-top: 0rem;
}

/* =Archives
-------------------------------------------------------------- */

.archive-header,
.page-header {
    margin-top: 30px;
    margin-top: 2.143rem;
    margin-bottom: 0;
    padding: 0px;
    border-bottom: 0px solid #ededed;
}

.widget-area {
    padding-top: 0px;
    padding-top: 0rem;
    border-top: 0px;
    width: 30%;
}

.widget-area .widget {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

.widget-area .widget h3 {
    margin-bottom: 0px;
    margin-bottom: 0rem;
}

.widget-area .widget li {
    font-size: 14px;
    font-size: 1rem;
    margin-top: 8px;
    line-height: 1.714285714;
    list-style-type: none;
}
.widget-area .widget li a {
    color: #21759b;
}
.widget-area .widget li a:visited {
    color: #21759b;
}
.widget-area .widget li a:hover {
    color: #0f3647;
}
.widget-area .post-date {
    display: block;
    margin-left: 0;
}

/* Maximum width of 599 pixels. */
@media screen and (max-width: 600px) {
    .mwm-aal-container {
        display: none;
    }
    .main-navigation {
        clear: both;
    }
    .main-navigation li {
        margin: 10px 0 0 0;
    }
    .main-navigation li ul li a {
        text-align: left;
        font-size: 14px;
        font-size: 1rem;
        padding: 4px 15px;
        padding: 0.2857rem 1.071rem;
        color: #636363;
    }
    .site-header h1 {
        font-size: 14px;
        font-size:  1rem;
        line-height: 1.846153846;
        margin-bottom: 0;
    }
    .site-title {
        margin: 25px 0 0 15px;
    }
    .site-header .logo {
        width: 60px;
        height: 60px;
    }
    .widget-area {
        width: 100%;
    }

    .template-front-page .widget-area .widget li {
        font-size: 12px;
        font-size: 1rem;
        line-height: 1.714285714;
        list-style-type: none;
    }

    .template-front-page .widget-area .widget li div {
        font-size: 12px;
    }

    .template-front-page .widget-area .widget li h3 a {
        font-size: 14px;
    }

    .menu-socialmenu-container {
        clear: both;
        float: left;
        padding-top: 10px;
    }
}
/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
    .main-navigation ul.nav-menu,
    .main-navigation div.nav-menu > ul {
        border-bottom: 1px solid #f0f0f0;
        border-top: 1px solid #f0f0f0;
        background-color: #f0f0f0;
        border-radius: 10px;
        margin-top: 20px;
        text-align:center;
    }
    .main-navigation .current-menu-item > a {

    }
    .main-navigation li {
        margin: 0;
    }
    .main-navigation li a {
        border-bottom: 0;
        line-height: 2.8;
        padding: 0 25px 0 25px;

    }
    .main-navigation li a:hover,
    .main-navigation li a:focus {
        color: #000;
        background-color: #F8CB6F;
    }
    .main-navigation li ul li a {
        text-align: left;
        background: #f0f0f0;
        filter: alpha(opacity = 95);
        opacity: 0.95;
        border-bottom: 0px;
        font-size: 14px;
        font-size: 1rem;
        padding: 4px 15px;
        padding: 0.2857rem 1.071rem;
        width: 278px;
        width: 19.86rem;
        color: #636363;
    }
    .main-navigation li ul li a:hover,
    .main-navigation li ul li a:focus {
        background: #F8CB6F;
        color: #000;
    }

    .main-navigation .current-menu-item > a {
        color: #636363;
        font-weight: bold;
        background-color: none;
    }

    .site-header h1 {
        font-size: 30px;
        font-size:  2.143rem;
        line-height: 1.846153846;
        margin-bottom: 0;
    }

    /* =Front page template
-------------------------------------------------------------- */

    .template-front-page .widget-area {
        padding-top: 0px;
        padding-top: 0rem;
        border-top: 0px;
    }

    .template-front-page .widget-area .post-date {
        display: inline;
        margin-left: 0;
    }

    .template-front-page .widget-area .widget h3 {
        margin-bottom: 0px;
        margin-bottom: 0rem;
    }

    .template-front-page .widget-area .widget li {
        font-size: 14px;
        font-size: 1rem;
        line-height: 1.714285714;
        list-style-type: none;
    }

    .template-front-page .widget-area .widget li div {
        font-size: 14px;
    }

    .template-front-page .widget-area .widget li h3 a {
        font-size: 16px;
    }

    .template-front-page .widget-area .widget li a {
        color: #21759b;
    }
    .template-front-page .widget-area .widget li a:hover {
        color: #0f3647;
    }
    .template-front-page .widget-area .widget:nth-child(even),
    .template-front-page.two-sidebars .widget-area .front-widgets + .front-widgets {
        width: 100%;
    }

    /* Better Anchor Links */
    .mwm-aal-container {
        font-size: 12px;
        padding: 0px!important;
        border-top: 0px!important;
        border-bottom: 0px!important;
        margin: 25px 0px 25px 0px!important;

    }
    .mwm-aal-container .mwm-aal-title {
        display: none;
    }
    .mwm-aal-container ol {
        list-style: none;
        padding: 25px 0 25px 0;
        background-color: #FFFFFF;
        filter: alpha(opacity = 95);
        opacity: 0.95;
    }
    .mwm-aal-container ol li {
        margin: 0 10px 0 0;
        display: inline;
        font-size: 14px;
        font-size: 1rem;
        color: #636363!important;
        vertical-align: center;
    }

    .mwm-aal-container ol li a {
        border: 1px solid #F8CB6F;
        padding: 15px;
        white-space: nowrap;
        background: #f9f9f9;
        color: #636363!important;
    }

    .mwm-aal-container ol li a:hover {
        background: #F8CB6F;
        color: #000!important;
    }

    .mwm-aal-container ul li{ margin-bottom: 1px;}
    .mwm-aal-container ul ul, ul ul ul{margin-left: 15px;}
    .mwm-aal-container ol ol, ol ol ol{margin-left: 0px;}
    a.mwm-aal-item{position: absolute;margin-top: -50px;padding-top: 50px}

}

/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {
    body {
        background-color: #b7c0c9;
    }
    body .site {
        padding: 0 40px;
        padding: 0 2.857142857rem;
        margin-top: 48px;
        margin-top: 3.428571429rem;
        margin-bottom: 48px;
        margin-bottom: 3.428571429rem;
        box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    }
    body.custom-background-empty {
        background-color: #fff;
    }
    body.custom-background-empty .site,
    body.custom-background-white .site {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: none;
    }
}

    /* =Plugins
-------------------------------------------------------------- */

/* WP-Job-Manager */
.rp4wp-related-job_listing>ul,ul.job_listings {
    border-top:0px;
}

.widget ul.job_listings li.job_listing a {
    padding: 0em;
}

.widget ul.job_listings li.job_listing h3 {
    font-weight: normal;
}

.widget ul.job_listings li.job_listing a ul li.company {
    display: none;
}


/* Slideshow-jquery-image-gallery */
.slideshow_container_style-light .slideshow_description_box {
    background: #FEF8E6!important;
}
.slideshow_container_style-light .slideshow_description_box div.slideshow_title {
    font-size: 24px!important;
    font-size: 1.625rem!important;
    margin-top: 10px;
}
.slideshow_container_style-light .slideshow_description_box div.slideshow_description {
    font-size: 18px!important;
    font-size: 1.286rem!important;
    margin-bottom: 15px;
}
.slideshow_container_style-light .slideshow_transparent {
    filter: alpha(opacity = 90) !important;
    opacity: 0.9!important;
}
.slideshow_container_style-light .slideshow_transparent:hover {
    filter: alpha(opacity = 90)!important;
    opacity: 0.9!important;

}
.slideshow_container_style-light .slideshow_description_box div,
.slideshow_container_style-light .slideshow_description_box div a,
.slideshow_container_style-light .slideshow_description_box p,
.slideshow_container_style-light .slideshow_description_box p a,
.slideshow_container_style-light .slideshow_description_box h1,
.slideshow_container_style-light .slideshow_description_box h1 a,
.slideshow_container_style-light .slideshow_description_box h2,
.slideshow_container_style-light .slideshow_description_box h2 a,
.slideshow_container_style-light .slideshow_description_box h3,
.slideshow_container_style-light .slideshow_description_box h3 a,
.slideshow_container_style-light .slideshow_description_box h4,
.slideshow_container_style-light .slideshow_description_box h4 a,
.slideshow_container_style-light .slideshow_description_box h5,
.slideshow_container_style-light .slideshow_description_box h5 a,
.slideshow_container_style-light .slideshow_description_box h6,
.slideshow_container_style-light .slideshow_description_box h6 a {
    text-align: center;
    color: #636363!important;
}

.scroll-back-to-top-wrapper {
    z-index: 1!important;
}

/*WP-Jobs Manager*/
.job_listings .job_filters {
    border: 1px solid #e5e5e5;
}
.job_listings .job_filters .search_jobs {
    padding:10px;
}
.job_listings .job_filters .search_jobs div.search_keywords {
    width: 50%;
    font-size: 14px!important;
    font-size: 1.0em!important;
}
.job_listings .job_filters .search_jobs div.search_region {
    height: 20px;
}
.job_listings .job_filters .search_jobs div.search_region div#search_region_chosen {
    width: 50%!important;
}
.job_listings .showing_jobs {
    font-size: 14px;
    font-size: 1.0em;
    margin-top: -2px;
}
.job_listings .rss_link {
    display: none;
}
.job_listings .reset {
    font-size: 14px;
    font-size: 1.0em;
    margin-top: -2px;
}
.job_listings .company_logo {
    display: none;
}
ul.job_listings li.job_listing a div.position, ul.job_listings li.no_job_listings_found a div.position {
    padding: 0px;
}
ul.job_listings li.job_listing a {
    padding-left: 1em;
    padding-right: 1em;
}

.single-job_listing .site-content {
    width: 100%;
}

.single_job_listing .meta li {
    margin: 5px 0 0 0;
    line-height: 1.5em;
}

/* =Main content and comment content
-------------------------------------------------------------- */

.entry-meta {
    clear: both;
    display: none;
}

.entry-header .attachment-post-thumbnail {
    display: block;
}