/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {
    body {
        background-color: #fff;
    }

    body .site {
        padding: 0;
        border: none;
        box-shadow: none;
    }
}

header {
    margin-top: 20px;
    text-align: center;
}

.welcome-selected-language {
    font-weight: bold;
}

.welcome-header-image {
    margin-top: 20px;
}

.welcome-header-text {
    color: #777777;
    font-size: 36px;
    padding: 40px 0 20px 0;
    animation: einblenden 1.5s;
    -moz-animation: einblenden 1.5s; /* Für Firefox */
    -webkit-animation: einblenden 1.5s; /* Für Safari und Chrome */
    -o-animation: einblenden 1.5s; /* Für Opera */
}

.welcome-header-text span {
    white-space: nowrap;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap
}

.welcome-main-headline {
    font-weight: 600;
}

.welcome-teaser-container {
    text-align: center;
    display: inline-block;
    margin: 20px;
    margin-bottom: 10px;
    max-width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: einblenden 2.5s;
    -moz-animation: einblenden 2.5s; /* Für Firefox */
    -webkit-animation: einblenden 2.5s; /* Für Safari und Chrome */
    -o-animation: einblenden 2.5s; /* Für Opera */
}

.welcome-teaser-container:hover {
    background-color: #F5F5FA;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.welcome-teaser {
    position: relative;
}

.welcome-teaser-text {
    position: absolute;
    bottom: 1px;
    background-color: #21759b;
    opacity: 85%;
    visibility: visible;
    width: 100%;
    height: 38px;
    font-size: 22px;
    color: #ffffff;
    padding-top: 13px;
}

.welcome-teaser-info {
    padding: 10px;
    line-height: 18px;
    color: #000000;
}

footer {
    text-align: center;
    min-height: 20px;
    color: #777777;
    margin: 30px 0;
}

@media screen and (max-width: 600px) {
    .welcome-header-text {
        font-size: 30px;
    }
}

.scroll-back-to-top-wrapper.show {
    visibility: hidden;
}

@keyframes einblenden {
    from { opacity:0; }
    to { opacity:1; }
}

@-moz-keyframes einblenden { /* Für Firefox */
    from { opacity:0; }
    to { opacity:1; }
}

@-webkit-keyframes einblenden { /* Für Safari und Chrome */
    from { opacity:0; }
    to { opacity:1; }
}

@-o-keyframes einblenden { /* Für Opera */
    from { opacity:0; }
    to { opacity:1; }
}

.menu-socialmenu-container {
    clear: both;
    float:none;
    padding-top: 10px;
    padding-bottom: 20px;
}

#menu-socialmenu {
    display: flex;
    justify-content: space-evenly;
}
